*{
padding: 0px;
margin: 0px;
font-size: 16px;
{!background-color: coral;}
font-weight: normal;
}


.container{
    max-width: 1070;
    margin: 50px;
}
.header{
    background-color: rgb(95, 170, 158);
    padding: 38px 0px 48px;
}
.header_flex, .about, .footer_flex,
 .subsrabe, .flex_plan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav_li{
display: inline-block
}
.nav_li:not(:first-of-type){
    margin-left: 50px;
}
.nav_link{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.468947px;
    color: #19191B;
    text-decoration: none;
}
.nav_link:hover{
    color: rgb(151, 102, 62);
    transition: 300ms;
}
.button{
    Width:220px;
    Height:60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.button_orange{
    background: #FF7143;
}
.button_orange:hover{
    background: darkgoldenrod;
    transition: 300ms;
}
.about_title{
    font-weight: bold;
    font-size: 80px;
    line-height: 77px;
    letter-spacing: -2.50105px;
    color: #19191B;
    max-width: 467.24px;
    height: 231px;
    margin-bottom: 30px;
}
.about{
        margin: 105px auto 85px;
}
.about_text{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.625263px;
    color: #696871;
    max-width: 464.21px;
    height: 90px;
    margin-bottom: 50px;
}
.button_violet{
    background: rgb(75, 7, 75);
    margin-right: 36px;

}
.button_transparent{
    background: none;
    color: darkslateblue;
    border: 1px solid #5454D4;
}
.footer{
    background-color: rgb(95, 170, 158);
    padding: 53px 0px;
}
.nav_lif{
    display: inline-block;
    margin-left: 50px;
}
.subsrabe{
    margin-bottom: 85px;
}
.subsrabe_title{
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1.56316px;
    color: #1f1102;
    margin-bottom: 38px;
}
.input{
    width: 302px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #7087FF;
    padding-left: 14px;
    box-sizing: border-box;
    margin-right: 39px;
}
.input::placeholder, .input{
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #000000;
}
.input:focus{
outline: none;
}
.plan{
    margin-bottom: 132px;
}
.plan_title{
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.87579px;
    color: #19191B;
    max-width: 504px;
    margin-bottom: 110px;
}
.item{
    width: 330px;
    background: #F8F8F8;
    border-radius: 10px;
    text-align: center;
    padding: 34px 0 27px;
}
.item:hover{
    transition: 500ms;
    background: #FF7143;
    box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
}
.item_text{
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.562737px;
    color: #696871;
}
.item:hover .item_text, 
.item:hover .item_title, 
.item:hover .item_li{
    color: white;
    transition: 500ms;
}

.item_title{
    font-size: 60px;
    line-height: 56px;
    letter-spacing: -1.03448px;
    color: #1D293F;
    margin: 22px 0 28px;
}
.item_li{
    font-size: 17px;
    line-height: 50px;
    letter-spacing: -0.531474px;
    color: #696871;
    list-style: none;
}
.item_title span{
font-size: 28px;
}
.button_item {
width: 285px;
background: white;
color: darkmagenta;
margin-top: 36px;
}
.item:hover .button_item{
    background: #9F3919;
    color: white;
    transition: 500ms;
}
